<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/profesori.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Profesori</title>
  </head>
  <body>
    <div>
      <ul>
        <% profesori.forEach(profesor =>{ %>
        <li onclick="location.href = '/<%- profesor._id %>'">
          <img src="http://www.smailikai.com/avatar/skelet/avatar_4348.gif" />
          <h3><%- profesor.ime + " " + profesor.prezime %></h3>
          <p><%- profesor.mail %></p>
        </li>
        <% }) %>

        <button
          type="button"
          class="btn btn-success"
          onclick="location.href = '/dodaj'"
        >
          Dodaj novog profesora
        </button>
      </ul>
    </div>
  </body>
</html>
